appdirs==1.4.0
Django==1.8.2
lxml==3.7.2
MySQL-python==1.2.5
packaging==16.8
pbr==1.10.0
pycrypto==2.6.1
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
stevedore==1.20.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
